<table>
  <tr>
    <th>Figure Name</th>

  </tr>
  <tr>
    <td><%= @figure.name %></td>
  </tr>
<table>
  <h2>Notable landmarks:</h2>
  <ul>
  <% @figure.landmarks.each do |landmark| %>
  <li><a href="landmarks/<%=landmark.id %>"><%= landmark.name %> </a></li>
  <% end%>
</ul>
<h2>Notable titles:</h2>
  <ul>
  <% @figure.titles.each do |title| %>
  <li><%= title.name %></li>
  <% end%>
</ul>
